<!DOCTYPE html>
<head>
  <title>Todo List</title>
  <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
  <div class="todo-container">
    <h2>To Do List</h2>
    <div class="todo">
      <form action="/add_todo" method="POST" class="todo-header">
        <input type="text" name="title" />
        <button type="submit" class="add_button">
          <span class="fas fa-plus"> Add task</span>
        </button>
      </form>
      <ul class="todo-list">
        <% todoList.forEach(todo => { %> <% if (todo.id == idTask) { %>
        <li class="todo-list-item">
          <form action="/update_todo" method="POST">
            <input type="text" value="<%= todo.title %>" name="title" />
            <input type="hidden" value="<%= todo.id %>" name="id" />
            <button type="submit">Confirm</button>
            <a href="/main" class="cancel">Cancel</a>
          </form>
        </li>
        <% } else { %>
        <li class="todo-list-item">
          <div class="todo-list-item-name"><%= todo.title %></div>
          <a href="/edit/<%= todo.id %>" class="edit">
            <span class="fas fa-edit"></span>
          </a>
          <form
            id="del_<%=todo.id%>"
            name="del"
            action="/delete"
            method="POST"
            class="remove"
          >
            <input hidden value="<%= todo.id %>" name="id" />
            <span
              class="fas fa-times icon"
              onclick="handleClick('<%= todo.id %>')"
            ></span>
          </form>
        </li>
        <% } %> <% }) %>
      </ul>
    </div>
  </div>
</body>

<script>
  function handleClick(id) {
    $(`#del_${id}`).submit();
  }
</script>
